<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/flights/edit.css">
<%- include('../partials/nav') %>

<main>

<main>
    <h1><%= title %></h1>
    <form id="new-form" action="/flights/<% flight._id%>?_method=PUT" method="POST">

      <label for="airline-input">Airline:</label>
      <input type="text" value="<%= flight.airline %>" name="airline" id="airline-input">
      <label for="airport-select">Airport</label>
        <select name="airline" id="airline-select">
            <option value="<%= flight.airline %>"><%= flight.airline %></option>
            <option value="American">American</option>
            <option value="Southwestern">Southwestern</option>
            <option value="United">United</option>
            <option value="N/A" selected>N/A</option>
          </select>
          <label for="flightNo-input">Flight Number: </label>
          <input type="number" value="<%=flight.flightNo%>" name="flightNo" id="flightNo-input">
          <label for="departs-input">Departs: </label>
          <input type="datetime-local" value="<%= flight.departs.toISOString() %>"  name="departs" id="departs-input">
          <button type="submit" >Submit Flight</button>
    </form>
</main>

<%- include('../partials/footer') %>

